<!--
  @author zhaolei
  Create: 2020/2/27 14:23
  Modified By:
  Description:
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>sysUserList</title>
    <link rel="stylesheet" th:href="@{/js/layui-v2.5.6/layui/css/layui.css}" media="all" />
</head>
<body>
<table class="layui-hide" id="sysUserTable"></table>
<script th:src="@{/js/layui-v2.5.6/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript"  th:inline="none">
    //JavaScript代码区域
    layui.use('table', function(){
        var table = layui.table;
        //展示已知数据
        table.render({
            elem: '#sysUserTable'
            ,url: "/sysUser/querySysUser"
            ,method: "GET"
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.count, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,cols: [[ //标题栏
                {field: 'id', title: 'ID', width: 80, sort: true}
                ,{field: 'userName', title: '用户名', width: 120}
                ,{field: 'phone', title: '电话', minWidth: 80}
                ,{field: 'mailBox', title: '邮箱', minWidth: 80}
                ,{field: 'createTime', title: '创建时间', minWidth: 80}
                ,{field: 'userType', title: '用户类型', minWidth: 80}
            ]]
            //,skin: 'line' //表格风格
            ,even: true
            ,page: true //是否显示分页
            //,limits: [5, 7, 10]
            ,limit: 10 //每页默认显示的数量
        });
    });
</script>
</body>
</html>